.minimap {
    position: absolute;
    border-radius: 1px;
    border: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    z-index: 100;
}

.minimap[theme='dark'] {
    --resizer-size: 6px;
    --resizer_size_inv: calc(var(--resizer-size) * -1);
    --resizer-length: 40px;
    --resizer-color: rgba(50, 50, 50, 0.4);
    --border-color: rgba(50, 50, 50, 1.0);
    --head-size: 30px;
    color: white;
    font-family: Montserrat,sans-serif;
}

.minimap::before {
    position: absolute;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    transform: translate(-50%, -50%);
    inset: 50%;
    content: '';
    z-index: -1;
}

.minimap_head {
    min-height: var(--head-size);
    max-height: var(--head-size);
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: row;
}

.minimap_state {
    flex: auto;
    cursor: move;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.minimap_content {
    width: auto;
    height: auto;
    flex: auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 1px solid var(--border-color);
    overflow: hidden;
}

.minimap__resizer {
    position: absolute;
    width: var(--resizer-length);
    height: var(--resizer-length);
    border-radius: var(--resizer-size);
    z-index: -2;
}

.minimap__resizer_lt {
    left: var(--resizer_size_inv);
    top: var(--resizer_size_inv);
    border-left: var(--resizer-size) solid var(--resizer-color);
    border-top: var(--resizer-size) solid var(--resizer-color);
    cursor: nw-resize;
}

.minimap__resizer_rt {
    right: var(--resizer_size_inv);
    top: var(--resizer_size_inv);
    border-right: var(--resizer-size) solid var(--resizer-color);
    border-top: var(--resizer-size) solid var(--resizer-color);
    cursor: ne-resize;
}

.minimap__resizer_lb {
    left: var(--resizer_size_inv);
    bottom: var(--resizer_size_inv);
    border-left: var(--resizer-size) solid var(--resizer-color);
    border-bottom: var(--resizer-size) solid var(--resizer-color);
    cursor: sw-resize;
}

.minimap__resizer_rb {
    right: var(--resizer_size_inv);
    bottom: var(--resizer_size_inv);
    border-right: var(--resizer-size) solid var(--resizer-color);
    border-bottom: var(--resizer-size) solid var(--resizer-color);
    cursor: se-resize;
}

.minimap_tabs {
    width: 100%;
    height: 100%;
    position: sticky;
}

.minimap_tab_map {
    width: 100%;
    height: 100%;
    z-index: -1;
}

.minimap_tab_setting {
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: -1;
}

.minimap_tab_click {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    fill: white;
    display: none;
}

.minimap_tab_click use {
    width: 100%;
    height: 100%;
}

.minimap_tab_click:hover {
    fill: lightgray;
}

.minimap_tab_click_close {
    right: 5px;
    top: 5px;
}

.minimap_tab_click_setting {
    right: 5px;
    top: 5px;
}

.minimap_tabs:hover .minimap_tab_click {
    display: block;
}





.bigf {
    width: 100%;
    height: 600px;
}







#minimap button {
    padding: 0px;
    border: none;
    background: none;
}

.minimap__head-button {
    width: var(--head-size);
    fill: white;
}

.minimap__head-button:hover {
	fill: grey;
}